body {
    background-color: #1e1e1e; /* Cor de fundo escura */
    color: #ffffff; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0;
    padding: 0;
    display: flex; /* Usar flexbox para centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    height: 100vh; /* Altura total da viewport */
}

.container {
    width: 400px; /* Largura fixa */
    padding: 40px;
    background-color: #333; /* Cor de fundo do contêiner */
    border-radius: 15px; /* Cantos arredondados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra */
}

h1 {
    color: #ffa500; /* Cor laranja para o título */
    text-align: center; /* Centralizar o título */
    margin-bottom: 20px; /* Espaçamento inferior */
    font-size: 28px; /* Tamanho da fonte */
}

form {
    margin-top: 20px; /* Espaçamento superior */
}

label {
    display: block; /* Exibição em bloco para melhor espaçamento */
    margin-bottom: 10px; /* Espaçamento inferior */
    color: #aaa; /* Cor do texto do label */
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px; /* Cantos arredondados */
    background-color: #555; /* Cor de fundo dos campos de entrada e botão */
    color: #ffffff; /* Cor do texto */
}

button {
    cursor: pointer; /* Cursor de mão ao passar por cima */
    background-color: #ffa500; /* Cor de fundo do botão */
    transition: background-color 0.3s; /* Transição suave */
    font-size: 16px; /* Tamanho da fonte */
}

button:hover {
    background-color: #ff8500; /* Cor de fundo do botão ao passar o mouse */
}

p {
    margin-top: 20px; /* Espaçamento superior */
    text-align: center; /* Centralizar o texto */
}

a {
    color: #ffa500; /* Cor laranja para links */
}

a:hover {
    text-decoration: underline; /* Sublinhar ao passar o mouse */
}

.error {
    color: #ff5555; /* Cor vermelha para mensagens de erro */
}
