body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Cor de fundo escura */
    margin: 0;
    padding: 0;
}

.container {
    width: 90%; /* Largura ajustada para dispositivos móveis */
    max-width: 800px; /* Largura máxima */
    margin: 50px auto; /* Centralizar o contêiner */
    padding: 20px;
    background-color: #333; /* Cor de fundo do contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 8px; /* Cantos arredondados */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffa500; /* Cor laranja para o título */
}

.pergunta {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff; /* Cor branca para os títulos */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffa500; /* Cor laranja para o botão */
    color: #ffffff; /* Cor branca para o texto do botão */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #ff7b00; /* Cor laranja mais clara ao passar o mouse */
}

/* Estiliza as respostas corretas */
.correct-answer {
    color: #4caf50; /* Cor verde */
}

/* Estiliza as respostas incorretas */
.incorrect-answer {
    color: #f44336; /* Cor vermelha */
}
